@{
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
@model ItRequitment.Models.User

<div class="container ">
   <div class="row">
        <div class="col-md-8">
            <h3>Zarejestruj się</h3>
          
            @using(Html.BeginForm("UserAdd","Registration", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
               
                <div class="row">
                   @Html.EditorFor(m => m)
                   

                   <div class=" col-md-8 btn-group" style="padding-top:20px;">
                            <!-- For success/fail messages -->
                            <button type="submit" class="btn btn-primary">Zarejestruj</button>
                            <button type="reset" class="btn btn-danger">Resetuj</button>
                   </div>
                    
                </div>

            }
            
        </div>
    </div>

   </div>