@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ItRequitment.Models.Company

<div class="container ">
    <div class="row">
        <div class="col-md-6 centred">
            <h3>Zarejestruj się</h3>

            @using (Html.BeginForm("CompanyAdd", "Registration", FormMethod.Post))
            {

                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="form-group">
                        @Html.EditorFor(m => m)

                    </div>


                    <div class="btn-group">
                        <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary">Zarejestruj</button>
                        <button type="reset" class="btn btn-danger">Resetuj</button>
                    </div>

                </div>

            }

        </div>
    </div>

</div>